# dependencies
/backend/node_modules
/frontend/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
/backend/node_modules/npm-debug.log
/frontend/node_modules/npm-debug.log

# tests
/backend/node_modules/test
/backend/node_modules/coverage
/backend/node_modules/.nyc_output

# dist
/backend/node_modules/dist

# environment
/backend/node_modules/.env


/frontend//node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# cypress
/frontend/cypress/screenshots
/frontend/cypress/videos

# next.js
/frontend/.next
/frontend/out

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem
/frontend/Thumbs.db

# debug
/frontend/npm-debug.log*
/frontend/pnpm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# dotenv local files
/frontend/.env*.local

# local folder
/frontend/local
/frontend/
# vercel
/frontend/.vercel
